@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuração base */
:root {
  --foreground-rgb: 234, 234, 234;
  background-color: #0a0a0a;
  /* Fundo padrão para evitar flash branco */
}

body {
  color: rgb(var(--foreground-rgb));
}

/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1A261B;
}

::-webkit-scrollbar-thumb {
  background: #2F3E30;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #D4CDA8;
}